@import 'variable';
body{
	font-size: 18px;
	margin:10px;
	width: 50%;
	background-color: $primary-color;
	li{
		list-style: none;
	}
	li:before{
		content: "\A4 \ ";
	}
}

header{
	width: 50%;
	h1 {
		position: relative;
		left: 58%;
	}
	.me{
		position: absolute;
		top: 2%;
		left: 2%;
		line-height: 1%;
	}
	.imgMe {
    	position: absolute;
    	top: 3%;
   		left: 70%;
    	width: 15%;
    	height: 40%; 
	}
    .linkedin{
    	position: absolute;
    	top: 100%;
    	left: 100%;
    	width: 50%;
    	height: 15%;
    }
  	.github{
    	position: absolute;
    	top: 10%;
    	left: 10%;
    	width: 50%;
    	height: 15%;
  	}
}

.formation{
	position: absolute;
	top: 45%;
	left: 40%;
	border: 2px solid;
	border-radius: 10px;
	width: 45%;
	height: 46%;
	background-color: $secondary-color;
	h3{
		position: relative;
		left: 2%;
	}
	li{
		position: relative;
		left: 1%;
	}
}

.language{
	position: absolute;
	top: 45%;
	left: 5%;
	border: 2px solid;
	border-radius: 10px;
	width: 30%;
	height: 46%;
	background-color: $secondary-color;
	h3{
		position: relative;
		left: 4%;
	}
	li{
		position: relative;
		left: -7%;
	}
}
.skill{
	position: absolute;
	top: 95%;
	left: 5%;
	border:2px solid;
	border-radius: 10px;
	width: 80%;
	margin-bottom: 3%;
	background-color: $secondary-color;
	h3{
		position: relative;
		left: 2%
	}
	h4{
		position: relative;
		left: 6%;
	}
	li{
		position: relative;
		left: 3%;
    }	
}
